* { box-sizing: border-box; }
html { height: 100vh; display: flex; }
body { flex: 1; }

#qrcode-scanner-container { width: 100%; height: 100%; }
#qrcode-scanner-container { display: flex; flex-direction: column; }
#qrcode-scanner-content   { flex: 1; }

#qrcode-scanner-content { display: flex; flex-direction: column; min-height: 0; }
#qrcode-scanner-content > * { max-width: 100%; flex: 1; overflow: hidden; }
